@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  overflow-y: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #f3f6fb;
  color: var(--main-text-color);
}

@media screen and (max-width: 700px) {
  body {
    overflow-y: auto;
  }
}
